.gallery_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    object-fit: cover;
}
.gallery_container article{
    border: 1rem solid transparent;
   transition: var(--transition);
}
.gallery_container  article:hover{
    border-color: rgb(56, 55, 55);
}
.gallery_container img{
    width: 400px;
    height: 500px;  
}



/* media query for medium screen */

@media(max-width:1024px){
    .gallery_container{
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }
    .gallery_container article{
        border: 0;
    }
    

}

/* media query for small screen */

@media(max-width:600px){
    .gallery_container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .gallery_container  article:hover{
        border-color: rgb(175, 172, 172);
    }
}