*,*::before, *::after{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
:root{
    
    --primary-hue:210;
    --gray-hue:240;
    --color-primary:hsl(var(--primary-hue),100%,50%);
    --color-primary-variant:hsl(var(--primary-hue),100%,65%);
    --color-gray-300:hsl(var(--gray-hue),26%,75%)

    --container-width-lg:80%;
    --container-width-md:90%;
    --transition:all 500ms ease;
    
    
}

body{
   font-family: 'Montserrat',sans-serif;
   color: white;
   overflow-x: hidden;
   background:black ; 
  
}
.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline:auto;
    
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
    color: white;
}
h1{
    font-size: 3rem;

}
h2{
    font-size: 2rem;

}
a{
    color: white;
}
img{
    display: block;
    object-fit: cover; 
    width: 100%;
}
.btn{
    color:white ;
    width: fit-content;
    margin: 0 auto;
    padding: 0.9rem 2rem;
    background: rgba(14, 173, 105);
    transition:  var(--transition);
    border-radius: 1.5rem;
}
.btn:hover{
    background: rgb(85, 246, 117);
}
.btn .lg{
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;

}
.btn.sm{
    padding: 0.4rem 1.2rem;
    font-size: 0.9rem;

}

section{
    margin-top: 8rem;
    margin-left: 3rem;
}
.section_head{
   display: flex;
   align-items: center;
   gap: 1rem;  
}
.section_head span{
    background: rgb(41, 39, 39);
    padding: 0.8rem;
    border-radius: 1rem;
     font-size: 1.5rem;
    color: rgb(192, 177, 8);
}

.card{
    background: rgb(41, 39, 39);
    border: 2px solid transparent;
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 0 3rem 0 3rem;
    transform: var(--transition);
    

}
.card:hover{
    background: transparent;
   
    cursor: default;
}
.card span{
    width: 3rem;
    height: 3rem;
    background: rgb(14, 173, 105);
    font-size: 1.5rem;
    padding: 0.8rem;
    display: grid;
   place-items: center  ;
   margin-bottom: 1.5rem;
   margin-inline:auto ;
   border-radius:1rem;
   transition: var(--transition);
   
}


.card small{
    margin-top: 1rem;
    display: block;
    font-weight: 300;
}

.header{
    margin-top: 5rem;
    height: 20rem;
    overflow: hidden;
    border-bottom: 2px solid  rgb(164, 163, 163);
}
.header_container{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;

    
}
.header_conatiner-bg{
    position: absolute;
    width: 100%;
}
.header_conatiner-bg img{
   opacity: 0.5;
  
}
.header_content{
    position: relative;
    width: 44%;
    margin:  0 auto;
    text-align: center;
    
}
.header_content h2{
    margin-bottom: 1rem;

}






/* media query  for medium devicce*/
@media (max-width:1024px){
    .container{
        width: var(--container-width-md);

       
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.6rem;
    }
    .header_content{
        width: 76%;
    }
}


@media (max-width:600px){
    h1{
        font-size: 2.2rem;
        line-height: 1.3rem;
    }
    .section{
        margin-top: 7rem;
    }
    .header{
        height: fit-content;
    }
    .header_content{
        width: var(--container-width-md);
        padding: 3rem;
    }
    .header_content p{
        font-size: 0.85rem;
        
    }
}